##################################
######## Common Settings #########
##################################
# PLACE GLOBAL SETTINGS HERE
## These settings will apply to all instances
ip={{ ip_server_bef1 }}
port={{ port_server_bef1 }}
clientport={{ clientport_bef1 }}
sourcetvport={{ sourcetvport_bef1 }}
defaultmap="market"
maxplayers={{ maxplayers_bef1 }}
servercfg={{ servercfg_bef1 }}

